version: "3"

# docker network create --driver=bridge --subnet=172.3.0.0/16 sjs-net

#自定义网络
networks:
  sjs-net:
    external: true

services:
  server:
    image: gitea/gitea:1.15.2
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
#      - DB_TYPE=postgres   #指定数据库
#      - DB_HOST=db:5432
#      - DB_NAME=gitea
#      - DB_USER=gitea
#      - DB_PASSWD=gitea
    restart: always
    networks:
      - sjs-net
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
       - "33300:3000"
       - "33322:22"