[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
lower_case_table_names=2
max_connections = 10000
#指定一个请求的最大连接时间，对于4GB左右内存的服务器可以设置为5-10。
wait_timeout = 10

[client]
default-character-set=utf8
[mysql]
default-character-set=utf8