[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
lower_case_table_names=2
max_connections = 10000
#指定一个请求的最大连接时间，对于4GB左右内存的服务器可以设置为5-10。
wait_timeout = 10

#该参数取值为服务器逻辑CPU数量*2，在本例中，服务器有2颗物理CPU，而每颗物理CPU又支持H.T超线程，所以实际取值为4*2=8
thread_concurrency = 24

#物理内存越大,设置就越大.默认为2402,调到512-1024最佳
table_cache=1024

# INNODB
# innodb_flush_method=O_DIRECT   # 类UNIX系统特有的配置
# 必须项，默认值太小，原128M  缓冲池
#【 = 系统-max(2G，系统5%)-查询缓存-日志大小】【常用比率为75%~80%】
#【建议为预测值的80%】【详情：P336~339】
innodb_buffer_pool_size = 2048M # 必须项 解释↑↑↑
innodb_log_file_size=512M       # 必须项，默认值太小，日志文件  【一小时日志量？】
# 优化增加配置项 默认是200，单位是页  【SAS*12 RAID10:2000；SSD：5000；FUSIO-IO：50000】
innodb_io_capacity=2000
innodb_io_capacity_max=6000     # 优化增加配置项
innodb_lru_scan_depth=2000      # 优化增加配置项目  每次刷脏页的数量
max_allowed_packet=1024M        # 20M就够了吧：server 接受的数据包大小【一次大量插入数据】

# 一些默认即可的配置 这里蛮写出来一下看看
innodb_file_per_table=ON   # 独立表数据文件

#修改字符集
#init_connect='SET collation_connection = utf8_unicode_ci'
#init_connect='SET NAMES utf8'
character_set_server=utf8
#collation-server=utf8_unicode_ci
#collation_server=utf8_general_ci
skip-character-set-client-handshake

lower_case_table_names = 1  # 表名存储在磁盘是小写的，但是比较的时候是不区分大小写

#为function指定一个参数
log_bin_trust_function_creators=1
# 主从同步的配置 学到备份的时候再研究
server-id=210
log-bin=master-bin
log-bin-index=master-bin.index
# validate_password 密码策略插件 mysql5.7之后会自动安装的插件 默认开启的
validate_password=off

# NO_ENGINE_SUBSTITUTION:使用不不支持的引擎时报错
# 1.STRICT_TRANS_TABLES，对于单个insert操作，插入单行数据与字段类型不兼容，则insert操作失败并回滚；插入多行数据，如果插入数据的第一行内容与字段类型不兼容，则insert操作失败并回滚，如果插入数据的第一行内容与字段类型兼容，但后续的数据行存在不兼容的情况，则兼容的数据正常插入，不兼容的数据会转换成符合字段类型的格式再插入，不会中断和回滚；
# 2.STRICT_ALL_TABLES，与STRICT_TRANS_TABLES不同的是，如果插入数据的第一行内容与字段类型兼容，但后续的数据行存在不兼容的情况，则兼容的数据正常插入，不兼容的数据则会报错并终止insert操作。
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# 加固建议5.6及以上版本应该配置为 skip_symbolic_links=yes  [8.0+已经不用了]
symbolic-links=0 # 禁用符号链接以防止各种安全风险

# 后面看书 ，发现可以加上的配置
# 对于固态硬盘有着超高 IOPS 性能的磁盘设置为 0，避免查找相邻的脏页一起刷写
innodb_flush_neighbors = 0
# IO线程=一个log线程+四个read线程+四个write线程,读写线程数也可以相应调整【使用SSD+的情况】
# innodb_read_io_threads #读操作
# innodb_write_io_threads #写操作

[client]
default-character-set=utf8
[mysql]
default-character-set=utf8

