[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
lower_case_table_names=2
max_connections = 10000
#指定一个请求的最大连接时间，对于4GB左右内存的服务器可以设置为5-10。
wait_timeout = 10
#log_bin_trust_routine_creators=1

#设置日志三种格式：STATEMENT、ROW、MIXED 。
binlog_format = ROW
#设置日志路径，注意路经需要mysql用户有权限写
log-bin = /var/lib/mysql/mysql-bin
#设置binlog清理时间
expire_logs_days = 7
#binlog每个日志文件大小
max_binlog_size = 1024m
#binlog缓存大小
binlog_cache_size = 4m
#最大binlog缓存大小
max_binlog_cache_size = 512m

#配置serverid
server-id=1

[client]
default-character-set=utf8
[mysql]
default-character-set=utf8