version: '3.5'
services:
  timescaledb:
    image: timescale/timescaledb:2.3.1-pg12
    container_name: basic-timescaledb
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: wxwl8802
    volumes:
      - ./data:/var/lib/postgresql/data
    command: "postgres -c 'max_connections=10800'"


